body {
	margin: 0;
	padding: 0;
	font: 12px Arial, Helvetica, sans-serif;
	background-image: url(../images/b1.png);
	background-size: 100% 150%;
	background-repeat:repeat-x;
	position: relative;
*
{
  margin: 0 auto 0 auto;
 text-align:left;}
}

#margin {
	margin-left: 20%;
}

#margin hr {
	margin-left:20px;
	size:10px;
	width: 94.5%;
}

#wdb {
	color: rgb(46, 68, 97);
	font-size: 2em;
	text-shadow: rgb(144, 145, 194) 4px 4px 4px;
	font-weight:bold;
	font-variant:small-caps;
	text-align: center;
}

#vars {
	font-family:Consolas, monospace;
	font-size:14px;
	color:#000000;

	margin-left: 33%;
}

#form-div {
	display: block;
	text-align: center;
	margin:0 auto;
}

#start {
	margin-top: 1%;
	text-align: center;
}

#start hr {
	size:10px;
	width: 94%;
}

#sign {
	margin-left: 15%;
}

#sign h2 {
	margin-left: 31%;
}

#sign h3 {
	margin-left: 20%;
}

#center {
	border-width: 1px;
	border-style: dotted solid;
	border-color: green;

	border-bottom-color: transparent;
	border-top-color: transparent;

	width: 70%;
	height: 140%;

	margin-left: 1%;
	margin-top: 0%;

	-webkit-box-shadow: 1px 10px 13px 0px rgba(80, 50, 50, 80);
	-moz-box-shadow:    -1px 10px 13px 0px rgba(80, 50, 50, 80);
	box-shadow:         -1px 10px 13px 0px rgba(80, 50, 50, 80);

	position: relative;
}

.statMsg {
	text-align: center;
}

.icon {
	width: 40px;
    height: 40px;
}

.tweet {
	width: 45px;
    height: 45px;
}

.tray {
	margin-left: 17%;
}

.isa_info {
    color: #00529B;
    background-color: #BDE5F8;
	padding:12px;
	text-align: center;
}

.button-1 {
 	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 5%;
	border-radius: 10px;
	border: 1px solid #435058;
	background: #435058;
	outline: none;

	display: block;
	text-align: center;
	margin:0 auto;
}

.button-1:hover {
  background: #0c2636;
  background-image: -webkit-linear-gradient(top, #0c2636, #205578);
  background-image: -moz-linear-gradient(top, #0c2636, #205578);
  background-image: -ms-linear-gradient(top, #0c2636, #205578);
  background-image: -o-linear-gradient(top, #0c2636, #205578);
  background-image: linear-gradient(to bottom, #0c2636, #205578);
  text-decoration: none;
}

.button-2 {
 	cursor: pointer;
	color: #ffffff;
	font-size: 12px;
	padding-top: 10px;
	padding-right: 5%;
	padding-bottom: 10px;
	padding-left: 5%;
	border-radius: 10px;
	border: 1px solid #435058;
	background: #435058;
	outline: none;

	margin-left:1%;
}

.button-2:hover {
  background: #0c2636;
  background-image: -webkit-linear-gradient(top, #0c2636, #205578);
  background-image: -moz-linear-gradient(top, #0c2636, #205578);
  background-image: -ms-linear-gradient(top, #0c2636, #205578);
  background-image: -o-linear-gradient(top, #0c2636, #205578);
  background-image: linear-gradient(to bottom, #0c2636, #205578);
  text-decoration: none;
}

form {
    padding: 30px;
}


div {
    padding: 5px 0;
}

label:not(.remember-me) {
    display: inline-block;
    min-width: 150px;
}

input:not([type="checkbox"]) {
    width: 300px;
    padding: 0.5em;
}

button {
    padding: 0.5em 1em;
    margin-left: 154px;
}