<!-- <!doctype html> -->
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Dummy Bank</title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>

    <body>
        <div id="margin">
            
            <div id="center">
                <div id="wdb">
                    <h1>Welcome to Dummy Bank!</h1>
                </div>
                <hr><br>

                <div id="vars">
                    <p>{{ messages.statusMessage }}</p>
                </div>

                <form action="/signup" method="post">
                    <div id="form-div">
                        <h2>Sign Up</h2>
                        <h3>{{ messages.signUpMessage }}</h3>
                        <div>                            
                            <div>
                                <input type="text" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>
                            <div>
                                <input type="password" name="confirmation" id="confirmation" placeholder="Confirm Password" required>
                            </div>
                                <button class="button-1">Sign Up</button>
                        </div>
                    </div>
                </form>



                <form action="/signin" method="post">
                    <div id="form-div">
                        <h2>Sign In</h2>
                        <h3>{{ messages.signInMessage }}</h3>

                        <div>
                            <div>
                                <input type="text" name="email" id="email" placeholder="Email" required>
                            </div>
                            <div>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>

                            <button class="button-1">Sign In</button><br>
                            <div id="form-div"">
                                <label>
                                    <input type="checkbox" name="remember" value="yes">
                                    Remember me?
                                </label>
                                <br><br>
                                <a href="/auth/twitter"><img class="icon tweet" src="images/twitter.png"></a>
                                <a href="/auth/google"><img class="icon" src="images/google.png"></a>
                            </div>
                        </div>
                    </div>                
                </form>
            </div>
         </div>
    </body>
</html>
